<p id="notice"><%= notice %></p>
  <%= content_for :title do %>
 <%= stylesheet_link_tag    "session", media: 'all', 'data-turbolinks-track' => true %>


<% end %>
<h1>Listing Sessions</h1>
<head> 
  <title> Sessions </title>
  <meta charset = "UTF-8">
</head>
<nav> <div id=float>
  
    <nav id="navigation">
      <ul>
          <li><a href="http://localhost:3000"> Home </a>  </li>
          <li><a href="http://localhost:3000/index/developer">The Team</a> </li>
          <li><a href="http://localhost:3000/index/admin">Admin</a>  </li>
  
          
        </ul>
    </nav> 

</div>


<center>
  <table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Users</th>
      <th>Instruments</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <br>
  <div id="addnew"><tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.title %></td>
        <td><%= session.users %></td>
        <td><%= session.instruments %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>

<br>
<div class="editbutton"><%= link_to 'New Session', new_session_path %></div>
<br>

<div id="backbutton"><body> <p> Go Back <a href="http://localhost:3000/index/admin"> Click Here </a></p></body></div>

<center><p>&copy; All right reserved by Radcircle</p></center>
