<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<head>
  <title> Joinin </title>
  <meta charset = "UTF-8">
</head>
<nav> <div id=float>
  
    <nav id="navigation">
      <ul>
          <li><a href="http://localhost:3000"> Home </a>  </li>
           <li><a href="http://localhost:3000/about/developer">The Team</a> </li>
          <li><a href="http://localhost:3000/sessions">Admin</a>  </li>
          <li><a href="http://localhost:3000/users">Join</a>  </li>
         
        </ul>
    </nav> 

</div>
<center>
<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bands</th>
      <th>City</th>
      <th>Instruments</th>
      <th>Music</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <br>
 <div id="addnew"> <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.bands %></td>
        <td><%= user.city %></td>
        <td><%= user.instruments %></td>
        <td><%= user.music %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</div>
</table>


<br>
</center>


<%= link_to 'New User', new_user_path %>
<center> <p>&copy; All right reserved by Radcircle</p> </center>